.song-list {
  margin: 50px;
}

.song-button {
  background-color: white;
  border: 2px solid #e679dc;
  font-size: 18px;
  padding: 16px 10px;
  width: 500px;
  height: 50px;
  margin: 0px;
  transition-duration: 0.3s;
}

.song-button:hover {
  background-color: #e1e0e4;
}
